.cover-letter-card-container {
  border-radius: $big-border-radius;
  background-color: $white;
  height: 100%;

  .cover-letter-card-body {
    position: relative;
    background-color: transparent;
    border: 0;
    border-radius: $big-border-radius;
    width: 100%;
    height: 100%;
    box-shadow: none;

    .ant-card-body {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: space-between;
    }
  }

  .metadata {
    display: flex;
    flex-direction: column;
    gap: $small;
    color: $base-font-color;
    width: 100%;
    justify-content: space-between;
    font-family: $poppins-extralight;

    .name {
      font-family: $poppins-bold;
      font-size: 16px;
      margin: 0 0 10px 0;
      color: $base-font-color;
    }

    .description-group {
      display: flex;
      column-gap: $small;
      align-items: flex-start;
      font-size: 14px;

      .description {
        margin-top: -2px
      }
    }
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: $small;
    margin-top: 20px;
  }
}
