.profile-form-edit {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: $medium;

  .button-group-container {
    display: flex;
    flex-flow: row nowrap;
    gap: $small;
  }

  .input-element-container {
    display: flex;
    flex-flow: column nowrap;
    gap: $small;

    .ant-flex-vertical {
      gap: $small;
    }

    .input-datepicker {
      flex: 1;

      .ant-picker {
        width: 100%;
      }
    }
  }
}
