// Define paths to your font files (adjust these paths as needed)
$poppins-font-path-bold: '../assets/fonts/Poppins-Bold.ttf';
$poppins-font-path-bolditalic: '../assets/fonts/Poppins-BoldItalic.ttf';
$poppins-font-path-extrabold: '../assets/fonts/Poppins-ExtraBold.ttf';
$poppins-font-path-extrabolditalic: '../assets/fonts/Poppins-ExtraBoldItalic.ttf';
$poppins-font-path-extralight: '../assets/fonts/Poppins-ExtraLight.ttf';
$poppins-font-path-extralightitalic: '../assets/fonts/Poppins-ExtraLightItalic.ttf';
$poppins-font-path-italic: '../assets/fonts/Poppins-Italic.ttf';
$poppins-font-path-light: '../assets/fonts/Poppins-Light.ttf';
$poppins-font-path-lightitalic: '../assets/fonts/Poppins-LightItalic.ttf';
$poppins-font-path-medium: '../assets/fonts/Poppins-Medium.ttf';
$poppins-font-path-mediumitalic: '../assets/fonts/Poppins-MediumItalic.ttf';
$poppins-font-path-regular: '../assets/fonts/Poppins-Regular.ttf';
$poppins-font-path-semibold: '../assets/fonts/Poppins-SemiBold.ttf';
$poppins-font-path-semibolditalic: '../assets/fonts/Poppins-SemiBoldItalic.ttf';

// Import and define font faces for each font-weight
@font-face {
  font-family: 'Poppins-Bold';
  src: url('#{$poppins-font-path-bold}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url('#{$poppins-font-path-bolditalic}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('#{$poppins-font-path-extrabold}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url('#{$poppins-font-path-extrabolditalic}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('#{$poppins-font-path-extralight}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  src: url('#{$poppins-font-path-extralightitalic}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url('#{$poppins-font-path-italic}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('#{$poppins-font-path-light}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-LightItalic';
  src: url('#{$poppins-font-path-lightitalic}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('#{$poppins-font-path-medium}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-MediumItalic';
  src: url('#{$poppins-font-path-mediumitalic}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('#{$poppins-font-path-regular}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('#{$poppins-font-path-semibold}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  src: url('#{$poppins-font-path-semibolditalic}') format('truetype');
  font-weight: normal;
  font-style: normal;
}