// Font variables
$karla-bold: 'Karla-Bold';
$karla-bolditalic: 'Karla-BoldItalic';
$karla-extrabold: 'Karla-ExtraBold';
$karla-extrabolditalic: 'Karla-ExtraBoldItalic';
$karla-extralight: 'Karla-ExtraLight';
$karla-extralightitalic: 'Karla-ExtraLightItalic';
$karla-italic: 'Karla-Italic';
$karla-light: 'Karla-Light';
$karla-lightitalic: 'Karla-LightItalic';
$karla-medium: 'Karla-Medium';
$karla-mediumitalic: 'Karla-MediumItalic';
$karla-regular: 'Karla-Regular';
$karla-semibold: 'Karla-SemiBold';
$karla-semibolditalic: 'Karla-SemiBoldItalic';

// Base variables
$base-font: $karla-regular;
$base-font-size: 16px;
$base-font-color: #212529;
$background-color: white;

// Padding, Margin, Gap
$small: 8px;
$medium: 16px;
$large: 24px;

// Suggested
$suggested-form-width: 350px;
$suggested-result-component-width: 500px;

// Colors
$primary-color: #c82121;
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #ff4d4f;
$link-color: #19a0ff;
$backdrop-color: rgba(200, 200, 200, 0.4);
$layout-background: #f2eeff;
