// Font variables
$karla-bold: 'Karla-Bold';
$karla-bolditalic: 'Karla-BoldItalic';
$karla-extrabold: 'Karla-ExtraBold';
$karla-extrabolditalic: 'Karla-ExtraBoldItalic';
$karla-extralight: 'Karla-ExtraLight';
$karla-extralightitalic: 'Karla-ExtraLightItalic';
$karla-italic: 'Karla-Italic';
$karla-light: 'Karla-Light';
$karla-lightitalic: 'Karla-LightItalic';
$karla-medium: 'Karla-Medium';
$karla-mediumitalic: 'Karla-MediumItalic';
$karla-regular: 'Karla-Regular';
$karla-semibold: 'Karla-SemiBold';
$karla-semibolditalic: 'Karla-SemiBoldItalic';

// Base variables
$base-font: $karla-regular;
$base-font-size: 16px;
$base-font-color: #36383b;
$base-border-radius: 5px;
$background-color: #f4f3f2;
$small-font-size: 12px;

// Base dark mode variables
$base-dark-font-color: #f4f3f2;
$base-dark-background-color: #1e1e1e;

// Padding, Margin, Gap
$small: 8px;
$medium: 16px;
$large: 24px;

// Suggested
$suggested-form-width: 350px;
$suggested-result-component-width: 500px;
$suggested-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

// Colors
$primary-color: #e53f25;
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #f5222d;
$error-hover-color: #ffccc7;
$info-color: #559afc;
$link-color: #559afc;
$layout-background: #f4f3f2;
$card-background-color: #36383b;