// Font variables
$poppins-bold: 'Poppins-Bold';
$poppins-bolditalic: 'Poppins-BoldItalic';
$poppins-extrabold: 'Poppins-ExtraBold';
$poppins-extrabolditalic: 'Poppins-ExtraBoldItalic';
$poppins-extralight: 'Poppins-ExtraLight';
$poppins-extralightitalic: 'Poppins-ExtraLightItalic';
$poppins-italic: 'Poppins-Italic';
$poppins-light: 'Poppins-Light';
$poppins-lightitalic: 'Poppins-LightItalic';
$poppins-medium: 'Poppins-Medium';
$poppins-mediumitalic: 'Poppins-MediumItalic';
$poppins-regular: 'Poppins-Regular';
$poppins-semibold: 'Poppins-SemiBold';
$poppins-semibolditalic: 'Poppins-SemiBoldItalic';

// Base variables
$base-font: $poppins-regular;
$base-font-size: 16px;
$base-font-color: #36383b;
$base-border-radius: 6px;
$background-color: #f4f3f2;
$small-font-size: 12px;
$big-border-radius: 20px;

// Base dark mode variables
$base-dark-font-color: #f4f3f2;
$base-dark-background-color: #1e1e1e;

// Padding, Margin, Gap
$small: 8px;
$medium: 16px;
$large: 24px;
$large-2x: 48px;

// Suggested
$suggested-form-width: 350px;
$suggested-result-component-width: 500px;
$suggested-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

// Colors
$primary-color: #e53f25;
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #f5222d;
$error-hover-color: #ffccc7;
$info-color: #559afc;
$link-color: #559afc;
$layout-background: #f4f3f2;
$card-background-color: #36383b;
$light-gray: #e0e0e0;
$white: #ffffff;
