.forgot-password-form {
  display: flex;
  flex-flow: column nowrap;
  max-width: $suggested-form-width;
  width: 100%;
  gap: $medium;

  .submit-button-group {
    display: flex;
    flex-flow: column nowrap;

    .forgot-password-form-button {
      flex: 1;

      button {
        width: 100%;
      }
    }
  }
}
