.volunteering-item {
  p {
    margin: 0;
  }

  .volunteering-title {
    font-weight: bold;
    font-size: 15px;
  }

  .volunteering-organization {
    font-size: 12px;
  }

  .volunteering-date {
    font-size: 12px;
  }
}
