.section {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
  padding: $medium;

  .edit-button {
    margin-block-start: $large;
  }

  .section-title {
    font-size: $large;
    font-weight: bold;
    margin-bottom: $small;
  }

  .section-sub-title {
    font-size: $medium;
  }
}
