.my-cover-letters-container {
  .my-cover-letters-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .title {
    font-family: $poppins-bold;
    font-size: 150%;
    margin: $large 0;
  }

  .list-of-cover-letters {
    margin-bottom: $large;

    .category {
      font-family: $poppins-bold;
      font-size: 125%;
      margin: 0;
    }
  }

  .empty-text {
    font-size: $small-font-size;
  }
}
