.my-cover-letters-container {
  .title {
    font-family: $karla-bold;
    font-size: 150%;
    margin: $large 0;
  }
  .list-of-cover-letters {
    margin-bottom: $large;

    .category {
      font-family: $karla-bold;
      font-size: 125%;
      margin: 0;
    }
  }
}
