.cover-letter-questionnaire-container {
  display: flex;
  flex-direction: column;

  .cover-letter-questionnaire-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: $large;
    border-radius: 6px;
  }
}
