.profile-page-with-navigation-container {
  background: transparent;
  gap: $large;

  .ant-layout {
    .ant-layout-content {
      padding: 0;
      overflow: hidden;
    }
  }

  .profile-settings-navigation-menu {
    display: flex;
    flex-flow: column nowrap;

    > .ant-menu-item {
      line-height: 1;
      height: max-content;
      text-wrap: wrap;
      align-items: flex-start !important;
      margin-bottom: $medium;
      margin-inline: 0;
      padding: 0 !important;
      box-sizing: border-box;
    }
  }
}
