.profile-page-with-navigation-container {
  margin-top: 15px;
  .profile-settings-navigation-menu {
    display: flex;
    flex-flow: column nowrap;

    >.ant-menu-item {
      line-height: 1;
      height: max-content;
      text-wrap: wrap;
      align-items: flex-start !important;
      margin-bottom: 10px;
      padding: 0 0 16px 0 !important;
    }
  }

  .profile-page-content {
    padding: 24px;
    background-color: $white;
    border-radius: 6px;
    width: 100%;
  }
}

