.reset-password-form {
  display: flex;
  flex-flow: column nowrap;
  max-width: $suggested-form-width;
  width: 100%;
  gap: $medium;

  .resend-email-group {
    margin-top: 20px;
    justify-content: space-between;

    .action {
      button {
        width: 100%;
        margin-top:5px;
      }
    }
  }

  .show-password-checkbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: $small;
  }

  .submit-button-group {
    display: flex;
    flex-flow: column nowrap;

    .reset-password-form-button {
      flex: 1;

      button {
        width: 100%;
      }
    }
  }
}
