.chatbot {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  top: 10px;
  bottom: 10px;
  right: -40px;

  .chatbot-icon {
    font-size: 180%;
    border-radius: 50%;
    padding: 10px;
    background-color: $base-font-color;
    color: $background-color;
    cursor: pointer;
    user-select: none;
  }

  .chat-interface {
    display: flex;
    flex-flow: column nowrap;
    width: 350px;
    max-height: 100%;

    .chat-header {
      font-size: 150%;
      padding: $small;
      background-color: $background-color;
      color: $base-font-color;
      border: 1px solid $base-font-color;
      border-radius: $base-border-radius $base-border-radius 0 0;
      display: flex;
      align-items: center;
      gap: $small;

      .bot-icon {
        font-size: 100%;
      }

      .title {
        margin: 0;
        font-size: 100%;
      }

      .close-icon {
        font-size: 87.5%;
        margin-left: auto;
        cursor: pointer;
      }
    }

    .chat-body {
      padding: $medium;
      background-color: $background-color;
      color: $base-font-color;
      border: 1px solid $base-font-color;
      border-top: none;
      border-radius: 0 0 $base-border-radius $base-border-radius;
      overflow-y: auto;
      display: flex;
      flex-flow: column nowrap;
      gap: $medium;

      .topic-selection {
        display: flex;
        flex-flow: column nowrap;
        gap: $small;

        .topic-selection-options {
          margin-left: calc(1rem + $small);
          display: flex;
          flex-flow: column nowrap;
          gap: $small;
        }
      }

      .message {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        line-height: 1.1;
        gap: $small;

        .icon {
          display: flex;
          align-items: center;
          font-size: 110%;
        }

        .message-content {
          margin: 0;
          white-space: pre-wrap;

          .generating-response-indicator {
            height: 1.1rem;
          }
        }

        &.prompt {
          justify-content: flex-end;
          text-align: right;

          .icon {
            order: 1;
          }
        }
      }
    }
  }
}
