.training-card-container-article {
  display: flex;
  flex-flow: column nowrap;

  .training-card-image {
    border-top-right-radius: $big-border-radius;
    border-top-left-radius: $big-border-radius;
  }

  .training-card-body {
    background-color: $white;
    box-shadow: none;
    border-radius: $big-border-radius;

    .ant-card-body {
      display: flex;
      flex-flow: column nowrap;
      padding: $medium;
      gap: $small;
    }
  }

  .metadata {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: $small;
    color: $base-font-color;
    border-top: 1px solid $light-gray;
    padding-top: 20px;

    .name {
      font-family: $poppins-bold;
      font-size: 16px;
      margin: 0;
    }

    .link {
      color: $primary-color;
      font-family: $poppins-extralight;
    }
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: $small;

    .watch {
      color: $info-color;
      background-color: white;
      border-radius: $base-border-radius;
      cursor: pointer;
    }
  }
}
