.confirm-user-container {
  align-self: center;
  justify-self: center;
  height: max-content;
  width: 100%;

  .ant-spin-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .confirm-user-result-component {
      max-width: $suggested-result-component-width;

      .confirm-user-button-group {
        display: flex;
        flex-direction: column;
        gap: $small;
      }
    }
  }
}