.confirm-user-container {
  align-self: center;
  justify-self: center;
  height: max-content;
  width: 100%;

  .confirm-user-result-component {
    max-width: $suggested-result-component-width;
  }
}
