p {
  margin: 0;
}
.education-subtitle {
  font-family: $karla-bold;
  font-size: $medium;
}

.add-another-experience-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
