p {
  margin: 0;
}

.education-subtitle {
  font-family: $poppins-bold;
  font-size: $medium;
}

.input-element-container {
  display: flex;
  flex-direction: column;
  gap: $medium;
}

.add-remove-experience-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.is-invalid {
  transition: all 0.1s ease-in;
  box-shadow: $error-color 0px 0px 5px;
  border-radius: 0.25rem;
}

.is-valid {
  transition: all 0.1s ease-out;
}