.resumes-container {
  .title {
    font-family: $poppins-bold;
    font-size: 200%;
    margin: $large 0 $large-2x 0;
  }

  .list-of-resumes {
    margin-bottom: $large;
  }

  .empty-text {
    font-size: $small-font-size;
  }
}
