.my-resume-layout {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  // align-items: center;

  padding: $large;
  p {
    margin: 0;
  }
  .other-languages-container {
    display: flex;
    flex-direction: column;
    gap: $medium;
  }

  .section-text {
    font-size: $medium;
  }

  .section-subtitle {
    font-family: $karla-bold;
    font-weight: bolder;
    font-size: $medium;
  }

  .slide-container {
    display: flex;
    flex-direction: column;
    transform: translateX(20%);
    transition: transform 0.5s;
  }
  .my-resume-body {
    display: flex;
    width: 70%;

    .content-section {
      display: flex;
      flex: 1;
      flex-direction: column;
      background-color: #ffffff;
      padding: $large;
    }
  }

  .button-group {
    display: flex;
    justify-content: center;
    column-gap: $large;
    height: max-content;
  }
}
.slide-left {
  transform: translateX(0%) !important;
}
