.my-resume-layout {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  border-radius: $base-border-radius;

  p {
    margin: 0;
  }

  .other-languages-container {
    display: flex;
    flex-direction: column;
    gap: $medium;
  }

  .section-text {
    font-size: $medium;
  }

  .section-subtitle {
    font-family: $poppins-bold;
    font-weight: bolder;
    font-size: $medium;
  }

  .slide-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .cv-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: $large;
    }

    .my-resume-body {
      position: relative;
      display: flex;

      .download-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;
      }

      .contact-section {
        display: flex;
        flex-direction: column;
        background-color: #c5c5c5;
        align-items: center;
        padding: $medium;
      }

      .content-section {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: $large;
      }
    }

    .button-group {
      display: flex;
      justify-content: center;
      column-gap: $large;
      height: max-content;
    }
  }
}
