.cover-letter-layout {
  display: flex;
  flex-flow: column nowrap;
  gap: $small;

  .slide-container {
    display: flex;
    flex-direction: column;
    width: 100%;


    .cover-letter-details-body {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: $large;
      border-radius: $base-border-radius;
    }

    .cover-letter-details-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      gap: $large;
    }
  }

}
