.skills-and-hobbies-container {
  display: flex;
  flex-flow: column wrap;
  padding: 0 calc($large * 2);
  font-family: $poppins-regular;

  .title {
    font-size: 150%;
    font-family: $poppins-regular;
    margin-bottom: $large;
    margin-top: 0;
  }
}
