.page-with-navigation-container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  height: 100%;
  background-color: $layout-background;

  .breadcrumb-container {
    margin: $medium 0;
  }

  .navigation-bar {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 0px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid $light-gray;
    justify-content: center;

    .navigation-wrapper {
      max-width: 1080px;
      display: flex;
      flex: 1;

      .navigation-menu {
        flex: 1;
        min-width: 0px;
        justify-content: flex-end;
      }

      .logo {
        border: 0;
        list-style: none;
        min-width: 250px;
        height: 100%;
        padding: 10px;
        cursor: pointer;
      }
    }


  }

  .layout-content {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    min-height: max-content;
    background-color: transparent;

    .page-content {
      display: flex;
      flex-flow: column nowrap;
      padding: 0 $small;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    border-top: 0.2px solid $light-gray;
    flex-flow: row nowrap;
    bottom: 0;
    z-index: 1;
    padding: 10px 0px;
    margin-top: 70px;

    .footer-wrapper {
      span {
        margin: 0
      }

      display: flex;
      justify-content: space-between;
      flex: 1;
      max-width: 1080px;
    }
  }
}
