p {
  margin: 0;
}

.add-volunteering-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.is-invalid {
  transition: all 0.1s ease-in;
  box-shadow: $error-color 0 0 5px;
  border-radius: 0.25rem;
}

.is-valid {
  transition: all 0.1s ease-out;
}
