p {
  margin: 0;
}

.add-publication-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.remove-item-button {
  display: flex;
  padding: 5px;
}

.remove-item-button:hover {
  color: $error-color;
}