.jobs-container {
  display: flex;
  flex-direction: column;
  padding: $large;

  .jobs-search-input {
    margin: $medium 0;
  }

  .load-more-button {
    align-self: center;
  }

  .col-job-card {
    padding-left: 0 !important;
    height: auto;
  }

  .recommended-jobs {
    border: 3px solid $primary-color;
    border-radius: 35px;
  }

  .title {
    font-family: $karla-bold;
    font-size: 150%;
    margin: $large 0;
  }

  .list-of-jobs {
    display: flex;
    justify-content: center;
    padding: $medium;
    margin-bottom: $large;

    .category {
      font-family: $karla-bold;
      font-size: 125%;
      margin: 0;
    }
  }
}