.resume-card-container {
  display: flex;
  flex-flow: column nowrap;
  border-radius: $base-border-radius;
  box-shadow: $suggested-box-shadow;

  .resume-card-body {
    background-color: $card-background-color;
    .ant-card-body {
      display: flex;
      flex-flow: column nowrap;
      padding: $medium;
      gap: $small;
    }
  }

  .tips {
    color: $primary-color;
  }

  .metadata {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: $small;
    color: white;

    .name {
      font-family: $karla-bold;
      font-size: 100%;
      margin: 0;
    }

    .last-updated {
      font-family: $karla-regular;
      font-size: 80%;
      margin: 0;
    }
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: $small;

    transition: color 0.6s;

    .edit {
      border: 1px solid $info-color;
      color: $info-color;
      background-color: white;
      border-radius: $base-border-radius;
      padding: calc($small / 2) $small;
      cursor: pointer;
      transition: color 0.6s;
    }
    .edit:hover {
      background-color: $info-color;
      color: white;
    }

    .delete {
      border: 1px solid $error-color;
      color: $error-color;
      background-color: $error-hover-color;
      padding: calc($small / 2) $small;
      border-radius: $base-border-radius;
      cursor: pointer;
      transition: color 0.6s;
    }
    .delete:hover {
      background-color: $error-color;
      color: white;
    }
  }
}
