$job-card-border-radius: 20px;

.generated-info-group {
  display: flex;
  justify-content: space-between;
  margin: $small 0;
  align-items: center;
}

.generate-button {
  display: block;
}

.job-card-container {
  border-radius: $job-card-border-radius;
  box-shadow: $suggested-box-shadow;
  background-color: $card-background-color;
  height: 100%;

  .job-card-body {
    background-color: transparent;
    border: 0;
    border-radius: $job-card-border-radius;
    width: 100%;
    height: 100%;

    .ant-card-body {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
    }

    .ant-card-body::before {
      content: none;
    }

    .ant-card-body::after {
      content: none;
    }

    .metadata {
      display: flex;
      flex-direction: column;
      gap: $small;
      color: white;
      justify-content: space-evenly;

      .job-description-group {
        display: flex;
        flex-direction: row;
        column-gap: $small;
        margin: 0;

        .job-description {}
      }

      .view-details-link {
        color: $primary-color;
      }

      .position {
        font-family: $karla-bold;
        margin: 0;
      }

      .last-updated {
        font-family: $karla-regular;
        font-size: 80%;
        margin: 0;
      }
    }

    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
    }
  }

  .actions-container {
    display: flex;
    flex-direction: column;
    margin: $small 0;
    gap: $small;

    .view-details-link {
      color: $primary-color;
    }

    .buttons-container {
      display: flex;
      flex-flow: row nowrap;
      gap: $small;



      .apply {
        color: $info-color;
        background-color: white;
        border-radius: $base-border-radius;
        cursor: pointer;
      }
    }
  }
}