
.job-card-container {
  border-radius: $big-border-radius;
  background-color: $white;
  height: 100%;

  .job-card-body {
    position: relative;
    background-color: transparent;
    border: 0;
    border-radius: $big-border-radius;
    width: 100%;
    height: 100%;

    .ant-card-body {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
    }

    .ant-card-body::before {
      content: none;
    }

    .ant-card-body::after {
      content: none;
    }

    .metadata {
      display: flex;
      flex-direction: column;
      gap: $small;
      color: $base-font-color;
      width: 100%;
      justify-content: space-between;
      font-family: $poppins-extralight;

      .job-description-group {
        display: flex;
        flex-direction: row;
        column-gap: $small;
        margin: 0 0 10px 0;
        align-items: flex-start;
        font-size: 14px;

        .job-description {
          margin-top: -5px
        }
      }

      .view-details-link {
        color: $primary-color;
      }

      .position {
        font-family: $poppins-bold;
        margin: 0 0 20px 0;
        font-size: 18px;
      }

      .last-updated {
        font-family: $poppins-regular;
        font-size: 80%;
        margin: 0;
      }
    }

    .logo-container {
      position: absolute;
      top: 24px;
      right: 24px;
    }
  }

  .actions-container {
    display: flex;
    flex-direction: column;
    margin: $small 0;
    gap: $small;

    .apply-and-tips-buttons-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: $small;

      .tips-link {
        color: $warning-color;
      }
    }

    .view-details-link {
      color: $primary-color;
    }
  }
}
