.contact-info-view-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  column-gap: 50px;
  padding: 40px;

  p {
    margin: 0;
  }

  .name {
    font-family: $karla-bold;
    font-size: $large;
    margin: 20px;
  }

  .info-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
  }

  .info-group {
    display: block;
  }

  .group-title-container {
    display: flex;
    align-items: center;
    flex-direction: row;

    .group-title-text {
      font-family: $karla-bold;
      font-size: $medium;
    }
  }

  .contact-info-icon {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
  }

  .group-value {
    text-wrap: wrap;
    font-size: $medium;
  }

  .profile-pic-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .linkedin-link {
    font-size: $medium;
    color: $link-color;
  }
}