.loading-full-page-container {
  position: fixed;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  backdrop-filter: blur(10px);
}