.publication-item {
  display: flex;
  flex-flow: column nowrap;

  .publication-name {
    font-family: $poppins-bold;
    font-weight: bold;
    font-size: 15px;
  }

  .publication-date,
  .publication-link {
    font-size: 12px;
  }
}
