.resume-questionnaire-container {
  display: flex;
  flex-direction: column;

  .resume-questionnaire-form {
    border-radius: $base-border-radius;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    padding: $large;
  }
}
