.resume-questionnaire-container {
  display: flex;
  flex-direction: column;

  .resume-questionnaire-form {
    display: flex;
    flex-flow: column nowrap;
    box-shadow: $suggested-box-shadow;
    background-color: white;
    padding: $large;
  }
}