.resume-questionnaire-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .resume-questionnaire-form {
    display: flex;
    flex-direction: column;
    width: 700px;
    box-shadow: $suggested-box-shadow;
    background-color: white;
    padding: $large;
  }
}