.training-card-container-video {
  display: flex;
  flex-flow: column nowrap;

  .training-card-video {

    div, video {
      border-top-right-radius: $big-border-radius;
      border-top-left-radius: $big-border-radius;
    }
  }

  .training-card-body {
    background-color: $white;
    border-radius: $big-border-radius;
    box-shadow: none;
    .ant-card-body {
      display: flex;
      flex-flow: column nowrap;
      padding: $medium;
      gap: $small;
    }
  }

  .metadata {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: $small;
    color: $base-font-color;

    .name {
      font-family: $poppins-bold;
      font-size: 16px;
      margin: 0;
    }
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: $small;

    .watch {
      color: $info-color;
      background-color: white;
      border-radius: $base-border-radius;
      cursor: pointer;
    }
  }
}
