.driving-license-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid gray;
  width: min-content;
  border-radius: 5px;
  margin: 5px;

  p {
    margin: 0;
  }

  .driving-license-icon {
    border-right: 1px solid gray;
    font-size: x-large;
    padding: 5px;
  }

  .driving-license-text {
    font-size: $medium;
    font-weight: bold;
    padding: 5px;
  }
}