.driving-license-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid gray;
  width: 60px;
  border-radius: 5px;
  margin: 5px;

  p {
    margin: 0;
  }

  .driving-license-image {
    border-right: 1px solid gray;
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .driving-license-text {
    font-family: 'Roboto';
    font-size: $medium;
  }
}