.container {
  display: grid;
  flex-direction: row;
  gap: $large;
  height: 100vh;

  .header {
    display: flex;
    justify-content: center;
    height: max-content;
  }
  .content {
    height: auto;
  }
  .button-group {
    display: flex;
    justify-content: center;
    column-gap: $large;
    height: max-content;
  }
}
